*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: rgba(255,255,255,0.6);
}
.wrap{
    width: 100%;
    height: 100vh;
    background: url(img/bg.jpg) center no-repeat;  /* fallback for old browsers */
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav{
    width: 110px;

    height: 820px;
    background: rgba(0, 0, 0, 0.8);
    border-radius: 20px;
    overflow: hidden;
    transition: 0.5s;
}

.nav:hover{
    width: 280px;
}
    

.btn{
    width: 60px;
    height: 10px;
    display: flex;
    justify-content: space-around;
    margin-left: 25px;
    margin-top: 25px;
}
.btn-item{
    width: 10px;
    height: 10px;
    border-radius: 50%;
}
.btn-item:nth-child(1){
    background: #eb5a56;
}
.btn-item:nth-child(2){
    background: #f8bc33;
}
.btn-item:nth-child(3){
    background: #62cb44;
}